html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer-container {
  border-top: 2px solid black;
  text-align: center;
}

.header-container {
  text-align: center;
  border-bottom: 2px solid black;
}

.project-card {
  width: 50%;
  margin: 10px auto 10px auto;
}

.btn-current {
  white-space: normal;
}

.about-pic {
  border-radius: 50%;
}

.about-pic-container {
  width: 25%;
  margin: 10px auto 10px auto;
}

.about-description-container {
  width: 75%;
  white-space: pre-line;
}

.paper-container {
  width: 50%;
  margin: 10px auto 10px auto;
}

.form-container {
  margin: 0px auto 0px auto;
  width: 75%;
}

.portfolio-card {
  margin-top: 10px;
  margin-block-end: 10px;
}